@model YTech.ServiceTracker.JayaMesin.Web.Mvc.Controllers.ViewModels.WOViewModel
@Html.HiddenFor(model => model.WOID)

<style type="text/css">
    .table {
        margin: 0 auto;
        text-align: left;
        width: 630px;
    }

        .table .thead {
            background: black;
            color: white;
            text-align: left;
        }

        .table .tr {
            clear: left;
            margin: 0;
            padding: 0;
        }

        .table .thead .tr .th {
            float: left;
            font-weight: bold;
            padding: 0;
        }

        .table .tbody > div:nth-child(even) {
            background: #DDD;
            color: #000;
        }

        .table .tbody > div > div {
            color: #000000;
            float: left;
            font-weight: normal;
            padding: 0;
            text-align: left;
            border: 1px dotted;
        }

        .table div.first_row {
            width: 50%;
        }

        .table div.full_row {
            width: 100%;
        }
</style>

@*<table>
    <tr>
        <td style="vertical-align: top;margin:30px;">*@

@*<div class="table">

    <div class="tbody">
        <div>
            <div class="first_row">*@
<table style="width: 630px;vertical-align:top;">
    <tr>
        <td style="width: 50%;vertical-align:top;">
            <div class="editor-label">
                @Html.LabelFor(model => model.WONo)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WONo, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WONo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CustomerName, new {@style="border:none;width:200px;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.CustomerName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WODate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WODate, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WODate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOItemType)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOItemType, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOItemType)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOItemSN)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOItemSN, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOItemSN)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOIsGuarantee)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOIsGuarantee, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOIsGuarantee)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOScStore)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOScStore, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOScStore)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOPriority)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOPriority, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOPriority)
            </div>            

            <div class="editor-label">
                @Html.LabelFor(model => model.WOType)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOType, new {@style="border:none;width:200px;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOType)
            </div>
        </td>
        <td style="width: 50%;vertical-align:top;">

            <div class="editor-label">
                @Html.LabelFor(model => model.WOReceivedBy)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOReceivedBy, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOReceivedBy)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WORepairedBy)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WORepairedBy, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WORepairedBy)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOTotal)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOTotal, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOTotal)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WODp)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WODp, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WODp)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOSisa)
            </div>
            <div class="editor-field">
                 @Html.TextBoxFor(model => model.WOSisa, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOSisa)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOTakenDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOTakenDate, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOTakenDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOInvoiceNo)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOInvoiceNo, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOInvoiceNo)
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="vertical-align:top;">

            <div class="editor-label">
                @Html.LabelFor(model => model.WOEquipments)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOEquipments, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOEquipments)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOComplain)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WOComplain, new {@style="border:none;",@readonly="true",@class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.WOComplain)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.WOLastStatus)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WOLastStatus)
                @Html.ValidationMessageFor(model => model.WOLastStatus)
            </div>   
            
            <div class="editor-label">
                @Html.LabelFor(model => model.WORemarkStatus)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WORemarkStatus)
                @Html.ValidationMessageFor(model => model.WORemarkStatus)
            </div>         

            <div class="editor-label">
                @Html.LabelFor(model => model.WOStartDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WOStartDate)
                @Html.ValidationMessageFor(model => model.WOStartDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOBrokenDesc)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WOBrokenDesc)
                @Html.ValidationMessageFor(model => model.WOBrokenDesc)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WOEstFinishDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WOEstFinishDate)
                @Html.ValidationMessageFor(model => model.WOEstFinishDate)
            </div>
        </td>
    </tr>

</table>
