@model YTech.ServiceTracker.JayaMesin.Web.Mvc.Controllers.ViewModels.WOViewModel
@Html.HiddenFor(model => model.WOID)

<style type="text/css">
    .table {
        margin: 0 auto;
        text-align: left;
        width: 630px;
    }

        .table .thead {
            background: black;
            color: white;
            text-align: left;
        }

        .table .tr {
            clear: left;
            margin: 0;
            padding: 0;
        }

        .table .thead .tr .th {
            float: left;
            font-weight: bold;
            padding: 0;
        }

        .table .tbody > div:nth-child(even) {
            background: #DDD;
            color: #000;
        }

        .table .tbody > div > div {
            color: #000000;
            float: left;
            font-weight: normal;
            padding: 0;
            text-align: left;
        }

        .table div.first_name {
            width: 50%;
        }

        .table div.full_row {
            width: 100%;
        }
</style>

@*<table>
    <tr>
        <td style="vertical-align: top;margin:30px;">*@

<div class="table">

    <div class="tbody">
        <div>
            <div class="first_name">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WONo)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WONo)
                    @Html.ValidationMessageFor(model => model.WONo)
                </div>
               
                 <div class="editor-label">
                    @Html.LabelFor(model => model.Customer)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Customer)
                    @Html.ValidationMessageFor(model => model.Customer)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WODate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WODate)
                    @Html.ValidationMessageFor(model => model.WODate)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOItemType)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOItemType)
                    @Html.ValidationMessageFor(model => model.WOItemType)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOItemSN)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOItemSN)
                    @Html.ValidationMessageFor(model => model.WOItemSN)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOIsGuarantee)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOIsGuarantee)
                    @Html.ValidationMessageFor(model => model.WOIsGuarantee)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOEquipments)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOEquipments)
                    @Html.ValidationMessageFor(model => model.WOEquipments)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOScStore)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOScStore)
                    @Html.ValidationMessageFor(model => model.WOScStore)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOPriority)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOPriority)
                    @Html.ValidationMessageFor(model => model.WOPriority)
                </div>

            </div>
            <div class="first_name">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WOLastStatus)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOLastStatus)
                    @Html.ValidationMessageFor(model => model.WOLastStatus)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOEstFinishDate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOEstFinishDate)
                    @Html.ValidationMessageFor(model => model.WOEstFinishDate)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOTotal)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOTotal)
                    @Html.ValidationMessageFor(model => model.WOTotal)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WODp)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WODp)
                    @Html.ValidationMessageFor(model => model.WODp)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOTakenDate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOTakenDate)
                    @Html.ValidationMessageFor(model => model.WOTakenDate)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WOInvoiceNo)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOInvoiceNo)
                    @Html.ValidationMessageFor(model => model.WOInvoiceNo)
                </div>
               
            </div>
            <div class="full_row">
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.WOBrokenDesc)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WOBrokenDesc)
                    @Html.ValidationMessageFor(model => model.WOBrokenDesc)
                </div>

            </div>
        </div>
    </div>
</div>


