<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>@ViewBag.Title</title>    	
    @Html.Partial("_head")
</head>

<body>


    @(Html.Kendo().Splitter()
        .Name("headSplitter")
        .Orientation(SplitterOrientation.Vertical)
        .Panes(panes =>
        {
            panes.Add()
                .Content(
                    @<text>
    @RenderMainSplitter()
    </text>
                );
        })
    )

    @helper RenderMainSplitter()
{
        @(Html.Kendo().Splitter()
        .Name("mainSplitter")
        .Panes(panes =>
        {
            
            panes.Add()
                .Content(
                    @<text>
        @RenderContentSplitter()
        </text>
                );
        })
    )
    }

        @helper RenderContentSplitter()
{
            @(Html.Kendo().Splitter()
            .Name("contentSplitter")
            .Orientation(SplitterOrientation.Vertical)
            .Panes(contentPanes =>
            {
                contentPanes.Add()
                    .Content(
                        @<text>
            @RenderBody()
            </text>
                    );
            @*    contentPanes.Add()
                    .Size("50px")
                    .Collapsed(true)
                    .Content(
                        @<text>
            @RenderSection("Details", false)
            </text>
                    );*@
            })
        )
        }
    

    <script src="@Url.Content("~/Scripts/Layout.js")"></script>
    @*<script src="@Url.Content("~/Scripts/Navigation.js")"></script>*@
    <script>
        jQuery(document).ready(function () {
            Layout.init();
            @RenderSection("onReadyScripts", false)
        })
    </script>
</body>
</html>
